@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Header and Footer */
  body {
    @apply text-secondary leading-[1.5] text-[16px] z-[1];
  }
  .header-main {
    @apply py-2 font-medium bg-white text-secondary;
  }
  .header-main {
    @apply z-10 flex flex-row items-start justify-between shadow-mat-1;
  }
  .header-wrapper {
    @apply container flex justify-between px-4 mx-auto;
  }
  .header--left {
    @apply w-auto;
  }
  .header--right {
    @apply inline-flex flex-row justify-end w-auto;
  }
  /* Main content wrapper */
  .main {
    @apply relative flex flex-row flex-wrap w-full;
  }
  /* Main__inner */
  .main .main__inner {
    @apply container flex flex-col mx-auto;
  }
  /* Sidebar */
  .sidebar {
    @apply w-full p-3 md:w-4/12 lg:w-3/12 xl:w-3/12;
  }

  /* Content */
  .content {
    @apply w-full;
  }
  .content.has-sidebar {
    @apply w-full p-3 md:w-8/12 lg:w-9/12 xl:w-9/12;
  }

  /* Profile page */
  .profile {
    @apply flex flex-row flex-wrap;
  }
  .profile .profile__summary {
    @apply flex w-[calc(25%)];
  }
  .profile .profile__details {
    @apply flex flex-col w-[calc(75%)];
  }

  .profile__details > .details {
    @apply m-3;
  }
  .profile__details > .details > .details__experiences {
    @apply m-3;
  }

  /* Index page */
  .banner {
    background-image: url('../assets/images/1.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: inherit;
    @apply flex flex-row;
  }
  .banner > .banner__content {
    @apply flex flex-col justify-center gap-2;
  }
  .banner > .banner__content > .banner__heading {
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px,
      #fff 0px 0px 2px;
    @apply font-black text-[56px] leading-[1.25] md:text-[75px] md:leading-[1.5];
  }
  .banner > .banner__content > .banner__description {
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px,
      #fff 0px 0px 2px;
    @apply text-xl md:text-3xl leading-[1.25] md:leading-[1.5];
  }

  /* Common section class */

  .section {
    @apply py-[1.5rem];
  }
  .section__heading {
    @apply m-0;
  }
  .section__title {
    @apply text-center text-[2rem] leading-[1.6] capitalize;
  }
  .section__sub-title {
    @apply text-center text-[1.5rem] leading-[1.5] font-light;
  }
  /* Why fast food */
  .why-fast-food {
    position: relative;
  }
  .fast-food-list {
    background-image: url('../assets/images/cake.webp'), url('../assets/images/circle_02.webp'),
      url('../assets//images/circle_03.webp'), url('../assets/images/circle_01.webp');
    background-position: left, bottom 5% left 40%, top 5% left 60%, right center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: contain, auto, auto, auto;
    @apply relative flex flex-row flex-wrap;
  }

  .fast-food-item {
    @apply flex w-full md:w-[calc(50%-2rem)] lg:w-[calc(33.33%-3rem)] m-2 md:m-4 lg:m-6;
  }
  .fast-food-card {
    @apply relative flex flex-col items-center w-full bg-primary-100 rounded-3xl;
  }
  .fast-food-card > .fast-food-card__top {
    @apply overflow-auto;
  }
  .fast-food-card > .fast-food-card__top > .fast-food-card__featured-image {
    @apply object-cover aspect-square;
  }
  .fast-food-card > .fast-food-card__bottom {
    @apply flex flex-col items-center justify-center px-6 pb-6 text-center text-tertiary;
  }
  .fast-food-card > .fast-food-card__bottom > .fast-food-card__title {
    @apply font-bold text-[2.0625rem] leading-[3.125rem];
  }
  .fast-food-card > .fast-food-card__bottom > .fast-food-card__description {
    @apply text-[1.25rem] leading-[1.5];
  }

  /* Food list */
  .food-list {
    @apply relative flex flex-row flex-wrap md:py-10;
  }
  .food-item {
    @apply flex w-full md:w-[calc(50%-2rem)] lg:w-[calc(33.33%-3rem)] m-2 md:m-4 lg:m-6;
  }
  .food-card {
    @apply flex flex-col transition transform rounded-t-lg shadow-mat-1 hover:shadow-mat-3 hover:scale-105;
  }
  .food-card__featured-image {
    @apply flex flex-col w-full;
  }

  .food-card__bottom {
    @apply p-4;
  }
  .food-card__description {
    @apply text-xs leading-[1.5] font-light;
  }
  .food-card__location {
    @apply flex flex-row gap-2 items-center text-[0.75rem];
  }
  .food-card__location-and-buy {
    @apply flex flex-row items-center justify-between;
  }

  .section__content--services {
    background-image: url('../assets/images/service_bg.webp');
    background-position: left center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    @apply relative flex flex-row flex-wrap justify-end w-full py-14;
  }
  .service-card__top {
    width: 48px;
    height: 48px;
    background-color: #f9edc3;
    border-radius: 999vw;
    background-position: center center;
    background-origin: border-box;
  }

  .section__content--about-us {
    background-image: url('../assets/images/about-us-2_bg.webp'), url('../assets/images/about-us_bg.webp');
    background-position: right top 60%, right 0 center;
    background-size: auto, contain;
    background-repeat: no-repeat, no-repeat;
    @apply relative flex flex-row flex-wrap justify-start w-full py-14;
  }
  .about-us__left {
    @apply flex flex-col text-[1.4rem] w-[calc(66.67%-2rem)];
  }

  .section__content--contact-us {
    @apply relative flex flex-row flex-wrap justify-start w-full py-14;
  }
  .contact-us__left {
    @apply flex flex-col px-4 md:w-1/2;
  }
  .contact-us__left .contact-us__title {
    @apply font-normal text-[2.5rem] md:text-[4rem];
  }
  .contact-us__left .contact-us__description {
    @apply font-normal text-[1.25rem] md:text-[2rem];
  }
  .contact-us__right {
    @apply flex flex-col md:w-1/2;
  }
  .contact-us__form {
    @apply flex flex-row flex-wrap;
  }

  .input-field {
    @apply relative border-b-2 focus-within:border-blue-500 md:w-[calc(100%-2rem)] m-4 md:mb-[32px];
  }
  .input {
    @apply block bg-transparent appearance-none focus:outline-none;
  }

  .footer-main {
    @apply relative lg:pt-24;
  }

  .footer-main::before {
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/footer_bg.webp');
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
    background-position: top;
  }
  .footer-main__wrapper {
    @apply flex flex-row flex-wrap justify-between px-4 pt-44;
  }

  .menu-item-group__title {
    @apply font-medium text-[1.15rem];
  }
  .menu-item a {
    @apply text-[1rem] font-light;
  }

  .footer-main__bottom {
    @apply flex flex-row flex-wrap justify-between mt-[5.625rem] px-4;
  }

  .footer-main__bottom .footer-main__sub-nav ul {
    @apply flex flex-row flex-wrap gap-8;
  }

  /* Order page */
  .order {
    @apply relative flex flex-row flex-wrap;
  }
  .order .order__left {
    @apply flex flex-col w-full lg:w-[calc(66.67%-2rem)] m-4 p-4 rounded-lg bg-white shadow-mat-2;
  }
  .order .order__heading {
    @apply text-lg font-bold;
  }
  .order .order__list {
    @apply flex flex-col flex-wrap gap-4;
  }
  .order-item__wrapper {
    @apply p-4 bg-white rounded-lg;
  }
  .order-item {
    @apply flex flex-row;
  }
  .order-item__left .order-item__featured-image {
    @apply max-w-full rounded-lg;
  }
  .order-item-right {
    @apply flex flex-col flex-[8];
  }
  .order-item__title {
    @apply flex flex-row justify-between;
  }
  .order-item__price {
    @apply font-bold;
  }
  .order-item__stock-price-and-state {
    @apply flex flex-row gap-2 divide-x;
  }
  .order-item__stock-price {
    @apply text-sm font-light;
  }
  .order-item__state {
    @apply text-sm text-success-500;
  }
  .order-item__info {
    @apply flex flex-row justify-between;
  }
  .order-item__action {
    @apply flex flex-row flex-wrap justify-end gap-2;
  }
  .order-item__add-favourite,
  .order-item__delete {
    @apply flex flex-row items-center;
  }

  .order__billing {
    @apply flex flex-col h-full w-full lg:w-[calc(33.33%-2rem)] m-4 p-4 rounded-lg bg-white shadow-mat-2 justify-between lg:sticky lg:top-16 lg:left-0;
  }
  .fee-block {
    @apply flex flex-row justify-between;
  }

  .order__promotion {
    @apply flex flex-col;
  }
  .order__promotion-input-group {
    @apply flex flex-row;
  }
  .promotion__input {
    @apply p-1.5 rounded-lg rounded-r-none w-full outline-none border-2 border-gray-300 focus-within:border-2 focus-within:border-primary-300 focus-within:ring-primary-200;
  }
  .order__promotion-value {
    @apply font-light text-gray-500;
  }
  .sub-total__heading,
  .sub-total__discount,
  .sub-total__tax,
  .order__total {
    @apply flex flex-row justify-between;
  }
  .order__action {
    @apply flex flex-col gap-2;
  }
}
