@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Header and Footer */
  body {
    @apply text-secondary;
  }
  .header-main,
  .footer-main {
    @apply bg-white text-secondary font-medium p-3;
  }
  .header-main {
    @apply flex flex-row justify-between items-start shadow-mat-1;
  }
  .header--left {
    @apply w-auto;
  }
  .header--right {
    @apply w-auto inline-flex flex-row justify-end;
  }
  /* Main content wrapper */
  .main {
    @apply w-full relative flex flex-row flex-wrap;
  }
  /* Main__inner */
  .main .main__inner {
    @apply container mx-auto flex flex-col;
  }
  /* Sidebar */
  .sidebar {
    @apply w-full md:w-4/12 lg:w-3/12 xl:w-3/12 p-3;
  }

  /* Content */
  .content {
    @apply w-full;
  }
  .content.has-sidebar {
    @apply w-full md:w-8/12 lg:w-9/12 xl:w-9/12 p-3;
  }

  /* Profile page */
  .profile {
    @apply flex flex-row flex-wrap;
  }
  .profile .profile__summary {
    @apply flex w-[calc(25%)];
  }
  .profile .profile__details {
    @apply flex flex-col w-[calc(75%)];
  }

  .profile__details > .details {
    @apply m-3;
  }
  .profile__details > .details > .details__experiences {
    @apply m-3;
  }

  /* Index page */
  .banner {
    background-image: url('../assets/font/1.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 556px 556px;
    background-origin: inherit;
    padding: 276px 0;
    @apply flex flex-row bg-[length:276px_276px];
  }
  .banner > .banner__content {
    @apply flex flex-col justify-center gap-2;
  }
  .banner > .banner__content > .banner__heading {
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px,
      #fff 0px 0px 2px;
    @apply font-black text-[56px] leading-[1.25] md:text-[75px] md:leading-[1.5];
  }
  .banner > .banner__content > .banner__description {
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px,
      #fff 0px 0px 2px;
    @apply text-xl md:text-3xl leading-[1.25] md:leading-[1.5];
  }
}
